ul{
    list-style: none;
}


.contenedorBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(89, 21, 151);

  }

.formulario{
    margin: 2%;
    padding: 2%;
    border: 2px solid yellow;
}
.formularioDatos{
	list-style-type: none;
}