.tablaParcial, .tablaCompleta {
    margin: 2%;
    padding: 2%;
    border-collapse: collapse; /* Añade esta línea */
}

.tablaParcial td, .tablaParcial th, .tablaCompleta td, .tablaCompleta th {
    border: 2px solid yellow;
}