body{
	padding-top: 65px;
}

.contenedorTexto {
	margin: 30px;
    width: 80%;
    overflow: hidden;
}

h1 {
	color: darkgoldenrod;
	text-align: center;
    padding: 20px 0;
}
p {
    line-height: 1.6;
    margin-bottom: 20px;
}